<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jurusan - Edit</title>
</head>
<body>
    <h1>Jurusan Edit</h1>
    <form th:action="@{/jurusan/update}" method="post">
        <input type="hidden" name="id" th:value="${data.id}">

        <label>Fakultas : </label>
        <select name="fakultasId">
            <option value="">Pilih Fakultas</option>
            <option th:each="fakultas: ${dataFakultas}" th:value="${fakultas.id}" th:text="|${fakultas.code} - ${fakultas.name}|"
            th:selected="${data.fakultasId == fakultas.id}"> </option>
        </select> <br/><br/>

        <label>Account No : </label>
        <input type="text" name="code" th:value="${data.code}"> <br/><br/>

        <label>Name : </label>
        <input type="text" name="name" th:value="${data.name}"> <br/><br/>

        <button type="submit">Update</button> &nbsp;
        <a th:href="@{/jurusan}">Back</a>
    </form>
</body>
</html>