<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fakultas Title</title>
</head>
<body>
  <h1>Fakultas Detail</h1>
  <p>Welcom to Fakultas index </p>

  <p>ID : <span th:text="${data.id}"></span></p>
  <p>Code : <span th:text="${data.code}"></span></p>
  <p>Name : <span th:text="${data.name}"></span></p>
  <p>Description : <span th:text="${data.description}"></span></p>

  <p>Code Lagi : <span th:text="${data.code}"></span></p>
  <p>Nama Lagi : <span th:text="${data.name}"></span></p>
  <p>Description Lagi : <span th:text="${data.description}"></span></p>
</body>
</html>